<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>HELLO</h1>
    <div class="container">
        {% for z in range(y): %}
            <div class="sub-box flex">
                {% for i in range(x): %}
                    {% if z % 2 == 0 %}
                        {% if i % 2 == 0 %}
                            <div class="h1">
                            </div>
                        {% endif %}
                        {% if i % 2 != 0 %}
                            <div class="h2">
                            </div>
                        {% endif %}
                    {% endif %}
                    {% if z % 2 != 0 %}
                        {% if i % 2 == 0 %}
                            <div class="h2">
                            </div>
                        {% endif %}
                        {% if i % 2 != 0 %}
                            <div class="h1">
                            </div>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </div>
        {% endfor %}
    </div>
</body>
</html>